In [1]:
import pandas as pd
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [10]:
kurl='http://dunkel.pmel.noaa.gov:8336/erddap/tabledap/KEO_fcf7_f662_8513'
rurl='https://dunkel.pmel.noaa.gov:8930/erddap/tabledap/keo_hourly_temp'
variables = 'TEMP,PRES,time,latitude,longitude,depth'
start = '2022-05-01T00:00:00Z'
end   = '2022-05-01T01:00:00Z'
tcon = '&time>=' + start + '&time<' + end
ending = '.csv?' + variables + tcon + '&orderBy("time,depth")'
kdata_url = kurl + ending
rdata_url = rurl + ending

In [13]:
kdf = pd.read_csv(kdata_url, skiprows=[1])
kdf

        TEMP  PRES                  time  latitude  longitude  depth
0     19.316   1.0  2022-05-01T00:00:00Z      32.3      144.6    1.0
1     19.310   1.0  2022-05-01T00:00:00Z      32.3      144.6    1.0
2        NaN   1.0  2022-05-01T00:00:00Z      32.3      144.6    1.0
3     19.320   1.0  2022-05-01T00:00:00Z      32.3      144.6    1.0
4        NaN   1.0  2022-05-01T00:00:00Z      32.3      144.6    1.0
...      ...   ...                   ...       ...        ...    ...
1019  15.590   NaN  2022-05-01T00:00:00Z      32.3      144.6  525.0
1020     NaN   NaN  2022-05-01T00:00:00Z      32.3      144.6  525.0
1021  14.200   NaN  2022-05-01T00:00:00Z      32.3      144.6  525.0
1022     NaN   NaN  2022-05-01T00:00:00Z      32.3      144.6  525.0
1023     NaN   NaN  2022-05-01T00:00:00Z      32.3      144.6  525.0

[1024 rows x 6 columns]

In [14]:
rdf = pd.read_csv(rdata_url, skiprows=[1])
rdf

      TEMP        PRES                  time  latitude  longitude  depth
0   19.316    1.000000  2022-05-01T00:00:00Z      32.3      144.6    1.0
1   19.310    5.071795  2022-05-01T00:00:00Z      32.3      144.6    5.0
2      NaN         NaN  2022-05-01T00:00:00Z      32.3      144.6    8.0
3   19.320   10.161538  2022-05-01T00:00:00Z      32.3      144.6   10.0
4      NaN   15.251282  2022-05-01T00:00:00Z      32.3      144.6   15.0
5      NaN         NaN  2022-05-01T00:00:00Z      32.3      144.6   18.0
6      NaN   20.341026  2022-05-01T00:00:00Z      32.3      144.6   20.0
7   19.330   25.430770  2022-05-01T00:00:00Z      32.3      144.6   25.0
8   19.330   35.610256  2022-05-01T00:00:00Z      32.3      144.6   35.0
9      NaN         NaN  2022-05-01T00:00:00Z      32.3      144.6   38.0
10  19.330   40.700000  2022-05-01T00:00:00Z      32.3      144.6   40.0
11  19.320   50.700000  2022-05-01T00:00:00Z      32.3      144.6   50.0
12  18.470   74.800000  2022-05-01T00:00:00Z      32.3      144.6   75.0
13  17.800   99.300000  2022-05-01T00:00:00Z      32.3      144.6  100.0
14     NaN         NaN  2022-05-01T00:00:00Z      32.3      144.6  105.0
15  17.350  123.100000  2022-05-01T00:00:00Z      32.3      144.6  125.0
16  17.180  146.800000  2022-05-01T00:00:00Z      32.3      144.6  150.0
17  17.020  174.000000  2022-05-01T00:00:00Z      32.3      144.6  175.0
18     NaN         NaN  2022-05-01T00:00:00Z      32.3      144.6  200.0
19  16.860  221.500000  2022-05-01T00:00:00Z      32.3      144.6  225.0
20     NaN         NaN  2022-05-01T00:00:00Z      32.3      144.6  250.0
21  16.740  269.000000  2022-05-01T00:00:00Z      32.3      144.6  275.0
22     NaN         NaN  2022-05-01T00:00:00Z      32.3      144.6  300.0
23  16.600  318.500000  2022-05-01T00:00:00Z      32.3      144.6  325.0
24     NaN         NaN  2022-05-01T00:00:00Z      32.3      144.6  350.0
25  16.270  366.300000  2022-05-01T00:00:00Z      32.3      144.6  375.0
26     NaN         NaN  2022-05-01T00:00:00Z      32.3      144.6  400.0
27  15.590  411.600000  2022-05-01T00:00:00Z      32.3      144.6  425.0
28     NaN         NaN  2022-05-01T00:00:00Z      32.3      144.6  450.0
29  14.200  456.800000  2022-05-01T00:00:00Z      32.3      144.6  475.0
30     NaN         NaN  2022-05-01T00:00:00Z      32.3      144.6  500.0
31     NaN         NaN  2022-05-01T00:00:00Z      32.3      144.6  525.0